body{
min-height: 100vh;
}
h1{
    padding-top: 50px 0;
}

h1, h2{
    color: #005E82;
    text-align: center;
    padding-bottom: 50px;
    }

h3{
    color: #005E82;

}
.card{
    padding:50px;
}

.card-body{
    padding-left: 50px;
}
h4{
padding: 20px 0;
}

 footer {
        background-color: #005e82;
        padding: 5px;
        margin-top: 50px;
        width: 100%;
    }
    footer > div {
        color: aliceblue;
    }
    @media (min-width: 768px) {
        footer {
            background-color: #005e82;
            padding: 10px;
        }
        footer > div {
            font-size: larger;
        }
    }